
.env


venv/
.venv/

__pycache__/
*.pyc
*.pyo


data/
instance/
*.db
*.sqlite


app.py
scrape_test.py
proxys.py


.git/
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

nginx/

analysis.json

.vscode/
.idea/
*.swp
.DS_Store
*.md